{%extends "base.html"%} {%block title%} Submit Group Objective {%endblock%}
{%block body%}
<div class='container d-flex justify-content-center mt-5 bg-dark text-light rounded py-5'>
<form method="post" class='w-50' >
    {% csrf_token %}
{%for field in form%}
<div class="input-group  mb-3">
    <span class="input-group-text  fw-bold  " style="width:30%" id="basic-addon1">
    {{field.label_tag   }}</span>
    {{field}}
    </div>
    {%endfor%}
    <button class="btn btn-primary">Add</button>
</form>
</div>
{%endblock%}